@charset utf-8;

.error {
  border: 1px #f00;
  background: #fdd;
}
.error.intrusion {
  font-size: 1.3em;
  font-weight: bold;
  width: 20% * 2;
}

.badError {
  @extend .error;
  border-width: 3px;
}
