@charset utf-8;

$test: 5;

// Comment
.test #{enumerate(div, 1, $test)}  {
    color: red;
}

$type: monster;
p {
    border: red;
    @if $type == monster {
        color: blue;
        b {
            color: red;
        }
    } @else {
        color: black;
    }
}

